
/* Responsive Design */

/* Mobile Styles */
@media (max-width: 480px) {
    #main-container {
        padding: 15px; 
    }

    .header h1 {
        font-size: 1rem;
    }

    .temperature-degree {
        font-size: 1rem;
    }

    .degree-section {
        font-size: 2.0rem; 
    }


    .temperature-description {
        font-size: 1.0rem; 
    }

    .api-call {
        font-size: .8rem;
    }

    .me {
        font-size: .7rem;
    }
}

/* Tablet Styles */
@media (min-width: 481px) and (max-width: 768px) {
    #main-container {
        padding: 20px; /* Moderate padding for tablets */
    }

    .degree-section {
        font-size: 2.5rem; /* Adjust font size for tablets */
    }

    .temperature-description {
        font-size: 1.2rem; /* Adjust description size */
    }
}

/* Laptop Styles */
@media (min-width: 769px) and (max-width: 1024px) {
    #main-container {
        padding: 30px; /* More padding for laptops */
    }

    .degree-section {
        font-size: 3.0rem; /* Increase font size for laptops */
    }

    .temperature-description {
        font-size: 1.5rem; /* Increase description size */
    }
}

/* Desktop Styles */
@media (min-width: 1025px) {
    #main-container {
        padding: 40px; /* Default padding for larger screens */
    }

    .degree-section {
        font-size: 3.5rem; /* Increase font size for desktops */
    }

    .temperature-description {
        font-size: 1.8rem; /* Increase description size */
    }
}